# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea/.gitignore
/frontend/coverage/lcov-report/base.css
/frontend/coverage/lcov-report/block-navigation.js
/frontend/coverage/clover.xml
/frontend/coverage/coverage-final.json
/frontend/coverage/lcov-report/favicon.png
/frontend/coverage/lcov-report/index.html
/frontend/coverage/lcov.info
/frontend/coverage/lcov-report/login.js.html
/frontend/src/__tests__/__snapshots__/login.test.js.snap
/frontend/coverage/lcov-report/LoginForm.js.html
/frontend/src/__tests__/__snapshots__/loginForm.test.js.snap
/.idea/modules.xml
/frontend/coverage/lcov-report/prettify.css
/frontend/coverage/lcov-report/prettify.js
/frontend/coverage/lcov-report/sort-arrow-sprite.png
/frontend/coverage/lcov-report/sorter.js
/.idea/T-36-Hamburg-Smidig-23s.iml
/.idea/vcs.xml
/backend/coverage/lcov-report/base.css
/backend/coverage/lcov-report/block-navigation.js
/backend/coverage/clover.xml
/backend/coverage/coverage-final.json
/backend/coverage/lcov-report/favicon.png
/backend/coverage/lcov-report/index.html
/backend/coverage/lcov.info
/backend/coverage/lcov-report/prettify.css
/backend/coverage/lcov-report/prettify.js
/backend/coverage/lcov-report/sort-arrow-sprite.png
/backend/coverage/lcov-report/sorter.js
