.gridContainer{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 3%;
}

.sidebarContainer{
    position: fixed;
    top: 0px;
    right: 0px;
    height: 85%;
    width: 20%;
    padding-top: 5%;
}
