.NavgationBar {
    position: relative;
    height: 100%;
    width: 220px;
    padding-top: 200px;
    border-right: 3px solid rgb(223, 65, 65);
    margin-left: -427px;
    border-radius: 2%;
}

.sidebarBox {
    font-size: 210%;
    margin: -80px;
    font-weight: bold;
    font-style: italic;
    list-style: none;
}

.menu li {
    color: rgb(2, 2, 2);
    width: 80%;
    padding-top: 5%;
    margin-top: 9px;
    cursor: pointer;
}

.menu li:after {
    content: "";
    position: fixed;
    background-color: #FD7752;
    height: 3px;
    width: 0;
    left: 30px;
    margin-top: 38px;
    transition: 0.3s;
}

li:hover:after {
    width: 9%;
}